/MOSI.IdentityServer4/src/MOSI.IdentityServer4.Admin.Api/obj
/MOSI.IdentityServer4/src/MOSI.IdentityServer4.Admin.Api/bin
/MOSI.IdentityServer4/src/MOSI.IdentityServer4.EntityFramework.MySql/obj
/MOSI.IdentityServer4/src/MOSI.IdentityServer4.EntityFramework.MySql/bin
/MOSI.IdentityServer4/src/MOSI.IdentityServer4.Identity/obj
/MOSI.IdentityServer4/src/MOSI.IdentityServer4.Identity/bin
/MOSI.IdentityServer4/src/MOSI.IdentityServer4.Models/obj
/MOSI.IdentityServer4/src/MOSI.IdentityServer4.Models/bin
/MOSI.IdentityServer4/src/MOSI.IdentityServer4.Shared/obj
/MOSI.IdentityServer4/src/MOSI.IdentityServer4.Shared/bin
/MOSI.IdentityServer4/.vs
